*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 218, 218);
}

#container-of-container {
  width: fit-content;
  margin: 0 auto;
  border: 15px solid black;
  border-radius: 2%;
}

#skcontainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  width: 630px;
  margin: 0 auto;
  margin-top: 1.25rem;
}

#buttons > button {
  width: 120px;
  height: 50px;
}

#buttons > input {
  width: 120px;
  height: 50px;
}

button {
  box-shadow: -2px 4px 6px -4px #080808;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 21px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  text-decoration: none;
  text-shadow: 3px 2px 5px #5b6178;
  outline: none;
  border: none;
}

button:active {
  position: relative;
  top: 1px;
}

.pixel {
  border: 0.1px solid rgb(37, 37, 37);
}
